<div class="signup h-75">
    <%= form_tag("/signup") %>
        <h4>新規登録</h4>
        <div class="form-group">
            <label for="formUserNameInput">UserName</label>
            <input name="name" type="text" class="form-control" id="formUserNameInput">
        </div>
        <div class="form-group">
            <label for="formEmailInput">Email</label>
            <input name="email" type="email" class="form-control" id="formEmailInput">
        </div>
        <div class="form-group">
            <label for="formPasswordInput">Password</label>
            <input name="password" type="password" class="form-control" id="formPasswordInput">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submmit" class="btn btn-primary" id="signup-btn">登録</button>
            <button type="button" class="btn btn-secondary" id="cancel-btn"><%= link_to('キャンセル','/') %></button>
        </div>
    </form>
</div>