<div class="login h-100">
    <form id="login-form">
        <h4>サインイン</h4>
        <div class="form-group">
            <label for="formEmailInput">Email</label>
            <input type="email" class="form-control" id="formEmailInput">
        </div>
        <div class="form-group">
            <label for="formPasswordInput">Password</label>
            <input type="password" class="form-control" id="formPasswordInput">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submmit" class="btn btn-primary" id="signup-btn">ログイン</button>
            <button type="button" class="btn btn-secondary" id="cancel-btn"><%= link_to('キャンセル','/') %></button>
        </div>
    </form>
</div>