<div class="create">
    <%= form_tag("/posts/#{@post.id}/save") do %>
        <textarea name="content"><%= @post.content %></textarea>
        <button type="submmit" class="btn btn-primary">投稿</button>
    <% end %>
</div>